<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <link rel='icon' href='/public/favicon.ico' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <meta name='theme-color' content='#000000' />
    <meta
      name='description'
      content='Web site created using create-react-app Hosted on NestJS'
    />
    <link rel='apple-touch-icon' href='/public/logo192.png' />
    <link rel='manifest' href='/public/manifest.json' />
    <title>React App</title>
    <script defer='defer' src='/public/static/js/main.4521d3a4.js'></script>
    <link href='/public/static/css/main.073c9b0a.css' rel='stylesheet' />
  </head>

  <body>
    {{message}}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id='root'></div>
  </body>

</html>